altair==5.5.0
apparmor==4.0.3
appdirs==1.4.4
application-utility==1.4.0
asttokens==3.0.0
attrs==23.2.1.dev0
autocommand==2.2.2
Automat==24.8.1
beautifulsoup4==4.12.3
blinker==1.9.0
Brlapi==0.8.6
Brotli==1.1.0
btrfsutil==6.12
CacheControl==0.14.2
cachetools==5.5.2
casttube==0.2.1
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
comm==0.2.2
constantly==23.10.4
contourpy==1.3.1
coverage==7.6.10
cryptography==44.0.0
cssselect==1.2.0
cycler==0.12.1
dbus-python==1.3.2
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
docopt==0.6.2
executing==2.1.0
ez_setup==0.9
filelock==3.17.0
firebase-admin==6.6.0
fonttools==4.55.8
gitdb==4.0.12
GitPython==3.1.44
gmpy2==2.2.1
google-api-core==2.24.1
google-api-python-client==2.163.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.2
google-cloud-firestore==2.20.1
google-cloud-storage==3.1.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.1
graphviz==0.20.3
grpcio==1.71.0rc2
grpcio-status==1.71.0rc2
html5lib==1.1
httplib2==0.22.0
hyperlink==21.0.0
idna==3.10
imbalanced-learn==0.13.0
imblearn==0.0
incremental==24.7.2
inflect==7.5.0
ipykernel==6.29.5
ipython==8.31.0
itemadapter==0.10.0
itemloaders==1.3.2
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
jeepney==0.8.0
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keyring==25.5.0
keyrings.alt==5.0.2
keyutils==0.6
kiwisolver==1.4.5
legacy-cgi==2.6.2
lensfun==0.3.4
LibAppArmor==4.0.3
libfdt==1.7.2
lit==19.1.7.dev0
lockfile==0.12.2
louis==3.32.0
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.7
MemoizeDB==2021.11.20.2.41.2
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.0.5
narwhals==1.26.0
nest-asyncio==1.6.0
netsnmp-python==1.0a1
networkx==3.4.2
nftables==0.1
npyscreen==4.10.5
numpy==2.2.2
packaging==24.2
pacman_mirrors==4.27
pandas==2.2.3
parsel==1.9.1
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
plotly==6.0.0
pm2ml==2021.11.20.2.41.2
polars==1.22.0
pooch==1.8.2
Powerpill==2021.11.20.2.41.2
prompt_toolkit==3.0.48
Protego==0.3.1
proto-plus==1.26.0
protobuf==5.29.3
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
pyalpm==0.10.6
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybind11==2.13.6
pycairo==1.27.0
pycparser==2.22
pycryptodomex==3.21.0
pydeck==0.9.1
PyDispatcher==2.0.7
Pygments==2.19.1
PyGObject==3.50.0
PyJWT==2.10.1
pyOpenSSL==25.0.0
pyparsing==3.1.2
PyQt5==5.15.11
PyQt5_sip==12.17.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.2
pyxdg==0.28
PyYAML==6.0.2
pyzmq==26.2.0
queuelib==1.7.0
ranger-fm==1.9.4
referencing==0.36.2
requests==2.32.3
requests-file==2.1.0
rpds-py==0.23.1
rsa==4.9
scikit-learn==1.6.1
scipy==1.15.1
scour==0.38.2
Scrapy==2.12.0
seaborn==0.13.2
SecretStorage==3.3.3
service-identity==24.2.0
setuptools==75.8.0
six==1.17.0
sklearn-compat==0.1.3
smbus==1.1
smmap==5.0.2
soupsieve==2.6
stack-data==0.6.3
streamlit==1.43.1
sympy==1.13.3
TBB==0.2
tenacity==9.0.0
threadpoolctl==3.5.0
tldextract==5.1.3
toml==0.10.2
torch==2.6.0
tornado==6.4.2
traceback-with-variables==2.0.4
traitlets==5.14.3
Twisted==24.11.0
typeguard==4.4.1
typing_extensions==4.12.2
tzdata==2025.1
udiskie==2.5.7
uritemplate==4.1.1
urllib3==2.3.0
w3lib==2.2.1
watchdog==6.0.0
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.45.0
XCGF==2021.11.20.2.41.3
XCPF==2021.12.24.10.22.41
zope.interface==7.2
zstandard==0.23.0
